body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbe2ef;
  padding-top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline:0;
}

button:focus {
  outline:0;
}


.search-bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding: 5px;
  border-style: solid;
  border-color: #888;
}

.dictionary-selection {
  width: 80%;
  margin-top: 10px;
  margin-right: 65%;
  margin-left: 5%;
}

.single-result {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 750px;
  padding: 0;
}

.single-dictionary {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 750px;
  padding:0;
}

.navbar {
  margin-bottom: 30px;
}

